
<div class="form-group">
<label for="exampleInputID">ID</label>
<input type="text" class="form-control" id="exampleInputID" placeholder="ID" ng-model="products.selectedProduct.idalimento" required="">
</div>              
<div class="form-group">
<label for="exampleInputName">Name</label>
<input type="text" class="form-control" id="exampleInputName" placeholder="Name" ng-model="products.selectedProduct.nombre" required="">
</div>
<div class="form-group">
<label for="exampleInputPhoto">Photo URL</label>
<input type="text" class="form-control" id="exampleInputPhoto" placeholder="Photo URL" ng-model="products.selectedProduct.foto" required="">
</div>
<div class="form-group">
<label for="exampleInputQuantity">Quantity</label>
<input type="text" class="form-control" id="exampleInputQuantity" placeholder="Quantity" ng-model="products.selectedProduct.cantidad" required="">
</div>
<div class="form-group">
<label for="exampleInputExpirationDate">ExpirationDate</label>
<input type="text" class="form-control" id="exampleInputExpirationDate" placeholder="Expiration Date" ng-model="products.selectedProduct.fechacaducidad" required="">
</div>
